@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  overflow-x: hidden;
}

body {
  scrollbar-color: var(--scroll-thumb-color, grey)
    var(--scroll-track, transparent);
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: var(--scroll-size, 10px);
  height: var(--scroll-size, 10px);
}
::-webkit-scrollbar-track {
  background-color: var(--scroll-track, transparent);
  border-radius: var(--scroll-track-radius, var(--scroll-radius));
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color, grey);
  background-image: var(--scroll-thumb, none);
  border-radius: var(--scroll-thumb-radius, var(--scroll-radius));
}
body {
  --scroll-size: 5px;
  --scroll-radius: 10px;
  --scroll-track: rgb(255 255 255 / 10%);
  --scroll-thumb-color: #48587c;
}

.errorMessage {
  color: red;
  margin: 5px 0 0 0;
  font-size: 13px;
  text-transform: lowercase;
}

.chat-gs {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 91vh;
}
.chat-gss {
  overflow-x: hidden;
  overflow-y: scroll;
}
.b_ss {
  height: 100vh;
}
.vs-f {
  padding: 13px 18px 15px 18px;
}
.back svg {
  width: 16px;
  position: relative;
  left: 0;
}
.prvs {
  position: absolute;
  left: 0;
  background-color: #2d3440;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 30px;
  justify-content: center;
  transition: 0.3s;
}
.prvs:hover {
  background-color: #6366f1;
  transition: 0.3s;
}
.main_top_bar strong {
  font-weight: 400;
}
.back {
  bottom: 9px;
  position: relative;
  background: rgba(255, 255, 255, 0.0509803922);
  border-radius: 4px;
  left: 0;
  margin-bottom: 10px;
}
.main_top_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px;
}
